@using DDD.Application.Dtos;
@using DDD.WebApp.Models;
@model NewsDetailViewModel;
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="description" content="@Model.NewsDetail.Intro" />
        <title>@Model.NewsDetail.Title</title>
        <link rel="shortcut icon" type="image/x-icon" href="http://image.chsgw.com/favicon.ico" media="screen" />
        <link rel="stylesheet" type="text/css" href="/css/global.css" />
        <link rel="stylesheet" type="text/css" href="/css/news-detail.css" />
    </head>
    <body>
        <div class="news_main">
            <div class="news-banner-container">
                <div class="news-banner-left">
                    <div class="news-banner-logo"><img src="/images/logo.png" /></div>
                    <div class="news-banner-text">
                        <p>尊贵赛鸽</p>
                        <p>有态度、有温度、有深度</p>
                    </div>
                </div>
                <div class="news-banner-right">
                    <a id="btnOpenApp">打开</a>
                </div>
            </div>
            <div class="news-body">
                <div class="news-body-header">
                    <h1 class="news-body-title">@Model.NewsDetail.Title</h1>
                    <div class="news-body-aut">
                        <span>@Model.NewsDetail.Author • </span>
                        <span>@Model.NewsDetail.PostTime • </span>
                        <span>@Model.NewsDetail.Clicks 次阅读</span>
                    </div>
                    <p class="news-body-subtitle">@Model.NewsDetail.Intro</p>
                </div>
                <div class="news-body_main">
                    @Html.Raw(@Model.NewsDetail.Content)
                </div>
            </div>
        </div>

        @if (@Model.NewsDetailMore.Count > 0)
        {
            <div class="fenge_line">
                <p>更多精彩内容</p>
            </div>
            <div class="more_news">
                @foreach (var item in Model.NewsDetailMore)
                {
                    if (item.ShowType == 2)
                    {
                        <article class="news_card card_type_two">
                            <a href="/news/detail/@item.Id">
                                <div class="news-info">
                                    <h3 class="title">@item.Title</h3>
                                    <div class="detail">
                                        <span class="pubtime">@item.PostTime</span>
                                        <span class="pub-type">@item.ClassName</span>
                                    </div>
                                </div>
                            </a>
                        </article>
                    }
                    else
                    {
                        <article class="news_card card_type_one">
                            <a href="/news/detail/@item.Id">
                                <div class="news-pic"><img src="@item.CoverImg" alt="@item.Title"></div>
                                <div class="news-info">
                                    <h3 class="title">@item.Title</h3>
                                    <div class="detail">
                                        <span class="pubtime">@item.PostTime</span>
                                        <span class="pub-type">@item.ClassName</span>
                                    </div>
                                </div>
                            </a>
                        </article>
                    }
                }
            </div>            
        }

        <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
        <script type="text/javascript" src="/js/weixin-share.js"></script>
        <script type="text/javascript" src="/js/pub.js"></script>
        <script src="https://static.mlinks.cc/scripts/dist/mlink.min.js"></script>
        <script>
            new Mlink({
                mlink: 'https://at8iok.mlinks.cc/AeXM',
                button: document.querySelector('a#btnOpenApp')
            });
        </script>
        </body>
</html>
